.content{
    
    background-color: white;
    width: 600px;
    margin: 20px;
    height: 500px;
    padding: 50px;
    border-radius: 50%;

    }
    
.logo{
    width: 20%;
    height: 10%;  
}
img{
    height: 300px;
    width: 900px;
    padding: 20px 4px 2px 1px;
     padding-top: 1px;  
}
.paper{
    text-align: center;
    color: black;
    font-size: medium;
    margin-left: 50px;
}
.text{
    text-align: center;
    margin-left: 40%;
}
#edit{
    background-color: black;
    color: blue;
margin-left: 60%;   
}
.part img{
     width: 60px;
    height: 30px;
}
.percentage{
display: flex;
margin-left: 20%;
width: 20%;
padding: 2px;
border-radius: 2px;
}
.one{
    background-color: aqua;
    margin-right: 1em;
    font-size: small;
    padding: 1em 2em;
    border-radius: 10%;
}
.two{
    background-color: brown;
    margin-right: 2em;
    font-size:small;
    padding: 1em 2em;
    border-radius: 10%;
}
.three{
    background-color: darkmagenta;
    margin-right: 2em;
    font-size:small;
    padding: 1em 2em;
    border-radius: 10%;
}
.general{
    display: flex;
}
#pp{
    color: blue;
    padding-bottom: 10px;
}
#open{
    background-color: blue;
    color: black;
}
.packing{
    display: flex;
}
 .standard{
    font-size: small;
    display: flex;
    padding-right: 20px;  
 }
 #day{
    margin:20px ;
    padding: 20px;
    width: 10%;
 }
 #day2{
    margin:20px ;
    padding: 20px;
    width: 5%; 
 }
 #day3{
    margin: 20px;
    padding: 20px;
    width: 5%;
    
 }
 .pink{
    background-color: blue;
    padding: 1%;
    width: 120px;
 }
 .blue{
    background-color: brown;
    padding: 1%;
    width: 100px;
 }
    .green{
       background-color: blueviolet;
       padding: 1%;
       width: 100px;
    }
    .more{
        display: flex;
        margin-left: 90%;
        font-size: small;
    
    }
    #more2{
        margin: 20px;
    }
    
    #more3{ 
        margin: 20px;
    }
    
    #more4{
        margin: 20px;
    }







